# Recursive ignore exclusion
!.gitignore
!README.md
!extensions.txt
!data
data/*
!data/user-data
data/user-data/*
!data/user-data/User
data/user-data/User/globalStorage/
data/user-data/User/workspaceStorage/
data/user-data/User/History/